.navbar{
    display: flex;
    height: 100px;
    padding: 10px;
    background-color: grey;
    justify-content: space-between;
    align-items: center;
}
.navlink{
    padding: 1rem;
    color: beige;
    font-size: large;
    font-weight: bold;
}
.navlink:hover{
    background-color: beige;
    color: grey;
}
.user{
    display: flex;
    align-items: center;
}
.user img{
    border-radius: 50%;
    width: 50px;
}
.user span{
    padding: 0 1rem;
    color: beige;
    font-size: large;
    font-weight: bold;
}